<section>
    <div class="container py-5 my-3">
        <div class="row">
            <div class="col-md-12">

                <nav>
                    <div class="row pt-2 justify-content-between">
                        <div class="col-md-4">
                            <button (click)="goBack()" class="arrow-button d-flex justify-content-center align-items-center"><i class="fa-solid fa-arrow-left font-md"></i></button>
                        </div>
                        <div class="col-md-4 position-relative inp">
                            <input [(ngModel)]="searchInput" type="text" class="form-control rounded-5" placeholder="Search">
                            <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                        </div>
                    </div>
                </nav>
            </div>


            <div *ngIf="(allProducts | searchProducts:searchInput).length === 0" class="text-center w-100">
                <img src="../../../assets/img/no-product-found-DncxVh9z (1).png" alt="No results found" class="img-fluid">
            </div>
            <div class="col-md-3 my-3" *ngFor="let product of allProducts |searchProducts:searchInput">
                <a >
                    <div class="product-box box-shadow">
                        <div class="box-layer d-flex justify-content-evenly">
                            <i (click)="addToFav(product._id)" class="fa-regular fa-heart my-1 cursor-pointer font-md heart"></i>
                            <i (click)="addToCart(product._id)" class="fa-solid fa-cart-plus cursor-pointer font-md cart"></i>
                            <i [routerLink]="['/productdetails',product._id]" class="fa-solid fa-eye my-1 cursor-pointer font-md eye"></i>
                        </div>
                        <div class="product-image">
                            <img [src]="product.imageCover" [alt]="product.category.name" class="w-100">
                        </div>
                        <div class="product-info p-3 main-color">
                            <h2 class="main-color">{{product.title|cuttext:2}}</h2>
                            <h3 class="second-color">{{product.category.name}}</h3>
                            <div>
                                <span class="brand">{{product.brand.name}}</span>
                                <span class="text-dark"> | </span>
                                <span class="text-green">Available</span>
                            </div>
                            <div class="price-rating d-flex justify-content-between mt-3">
                                <div class="price">
                                    <h5>EGP {{product.price}}</h5>
                                </div>
                                <div class="rating text-dark">
                                    <a *ngFor="let star of product.ratingsAverage | rating; let i = index">
                                      <i *ngIf="star === 0" class="fa-solid fa-star rating-color"></i>
                                      <i *ngIf="star === 1" class="fa-solid fa-star-half-alt rating-color"></i>
                                      <i *ngIf="star === 2" class="fa-regular fa-star rating-color"></i>
                                    </a>
                                    {{product.ratingsAverage | number:'1.1-1'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
