<footer class="footer py-5">
    <div class="container">
        <div class="fooer-top pb-4">
            <h2 class="font-bold font-lg second-color">Get the FreshCart App</h2>
            <p class="text-gray">We will send you a link, open it on your phone to download the app</p>
            <div class="input">
                <input type="text" class="form-control w-75 d-inline-block" placeholder="Email . . .">
                <a class="footer-btn d-inline-block">Share App Link</a>
            </div>
        </div>
        <div class="row justify-content-between pt-4">
            <div class="paymentTools py-3 d-flex justify-content-between">
                <div class="col-lg-6">
                    <div class="paymentTools-img d-flex position-relative">
                        <div class="d-flex justify-content-center align-items-center">
                            <h2 class="me-2">Payment Partners</h2>
                        </div>
                        <div class="images">
                            <img class="mx-1 cursor-pointer" src="../../../assets/img/amazon-pay-C6yg0mFR.png" alt="amazon">
                            <img class="mx-1 cursor-pointer" src="../../../assets/img/American-Express-Color-BA04NtD8.png" alt="american">
                            <img class="mx-1 cursor-pointer" src="../../../assets/img/mastercard-DpLisAk5.webp" alt="mastercard">
                            <img class="mx-1 cursor-pointer" src="../../../assets/img/paypal-f_p-vrjl.png" alt="paypal">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="store d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <h2 class="me-2">Get deliveries with FreshCart</h2>
                        </div>
                        <div class="img">
                            <a><img src="../../../assets/img/get-apple-store-9A-0RbJo.png" class="cursor-pointer" alt="apple store"></a>
                            <a><img src="../../../assets/img/get-google-play-BORhnNzJ.png" class="cursor-pointer" alt="google play"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>