<section class="py-3">
    <!-- Loading State -->
    <div *ngIf="isLoading" class="col-12 text-center py-5">
        <app-loading></app-loading>
    </div>

    <div class="container py-4 my-2" *ngIf="!isLoading">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="row pt-2 justify-content-between align-items-center">
                        <div class="col-3 col-md-4">
                            <button (click)="goBack()"
                                class="arrow-button d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-arrow-left font-md"></i>
                            </button>
                        </div>
                        <div class="col-9 col-md-4 position-relative inp">
                            <input [(ngModel)]="searchInput" type="text" class="form-control rounded-5"
                                placeholder="Search">
                            <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- No Results -->
            <div *ngIf=" (allProducts | searchProducts:searchInput).length === 0" class="text-center w-100">
                <img src="../../../../../assets/images/no-product-found-DncxVh9z.png" alt="No results found"
                    class="img-fluid">
            </div>

            <!-- Product Grid -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-2"
                *ngFor="let product of allProducts | searchProducts:searchInput; let i = index">
                <app-product-card [product]="product" [style.animation-delay]="i * 100 + 'ms'"
                    class="product-card"></app-product-card>
            </div>
        </div>
    </div>
</section>