#offcanvasSidebar {
    width: 220px;
    height: 300px !important;
    position: absolute;
    top: 100px;
    left: 0;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.7s;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    border-radius: 0 10px 10px 0;
    border: 1px solid #e5e7eb;
}

#offcanvasSidebar.show {
    transform: translateX(0);
}
#offcanvasSidebar h3{
    font-size: 17px;
    font-weight: 400;
}
.affcanvas-active{
    color: var(--main-color) !important;
    font-weight: 900 !important;
}
.arrow-btn {
    width: 30px;
    height: 30px;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    border-right: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    border-radius: 0 50% 50% 0;
    color: var(--main-color);
}

.fa-chevron-rotate{
    transform: rotate(180deg);
}


