<div class="home-slider">
    <div class="row gx-0">
        <div class="col-md-9">
            <div class="slider">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="home-slide position-relative">
                                <img src="../../../assets/img/product1-DjSvcSzR.jpg" alt="product-one">
                                <div class="slider-info">
                                    <div class="logo">
                                        <span class="px-3 py-2 rounded-5 font-super-bold font-xl"><i class="fa-brands fa-opencart text-primary me-3"></i>Fresh Cart</span>
                                    </div>
                                    <div class="info">
                                        <p class="my-4 w-75 p-3 rounded-2 font-sm font-bold">Whether you’re looking for the freshest produce, pantry staples, or specialty items, FreshCart brings the supermarket to you, redefining the way you shop for groceries.</p>
                                    </div>
                                    <a class="slider-btn px-3 py-2 rounded-5 cursor-pointer">Get Started</a>
                                </div>
                            </div>
                        </ng-template>  
                        <ng-template carouselSlide>
                            <img src="../../../assets/img/product2-Cc8hawmZ.jpg" alt="product-two">
                        </ng-template>  
                        <ng-template carouselSlide>
                            <img src="../../../assets/img/product3-CjkhanyU.jpg" alt="product-three">
                        </ng-template>  
                    </owl-carousel-o>
            </div>
        </div>
        <div class="col-md-3">
            <div class="static-images">
                <img src="../../../assets/img/product5-DZxbnV6L.jpg" alt="product-four" class="w-100">
                <img src="../../../assets/img/product4-CxeAzYXu.jpg" alt="product-five" class="w-100">
            </div>
        </div>
    </div>
</div>
